body {
  background-color: white;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}


.App {
  text-align: center;
}

.big-title{
  font-size: 60px;
}

.test{
  background: rgb(62,97,200);
  background: linear-gradient(111deg, rgba(62,97,200,1) 16%, rgba(179,41,209,1) 100%);
  /* filter: blur(10px); */
}

.form-container{
  background: rgb(62,97,200);
  background: linear-gradient(111deg, rgba(62,97,200,1) 16%, rgba(179,41,209,1) 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  font-family: 'Open Sans', sans-serif;
  width: 400px;
  height: 480px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
} 
.login-form.bigger{
  height: 540px;
}